<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyNK-fPxV4wB2HbEX6DgEIFbbjRoWu8WU</string>
	<key>GCM_SENDER_ID</key>
	<string>479188806184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerceAppKnowledge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-knowledge</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-knowledge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479188806184:ios:ee4eb6215973a2affc231d</string>
</dict>
</plist>